/node_modules
/public/hot
/public/error_log
/public/storage
/public/files
/storage/*.key
/vendor
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
